<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.vuhoangphuc.emi"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Tính khoản vay</name>
    <icon src="icon-190.png" platform="android" />
  <description>
      Ứng dụng tính khoản góp hàng tháng của Vũ Hoàng Phúc
      contact.vuhoangphuc@gmail.com
  </description>

  <author href="https://vuhoangphuc.com" email="contact.vuhoangphuc@gmail.com">
      Vũ Hoàng Phúc
  </author>

</widget>
