
/* *******************
** Dùng cho màn hình *
**********************/
@media only screen{
	body{
		font-family:tahoma;
		color:#c10200;
	}
	.title{
		font-weight: bold;
	}
	#credit{
		bottom: 0;
		right: 10;
		text-align: right;
		font-style: italic;
		font-size:10px;
		color:gray;
	}
	#thongtin{
		display:none;
	}
	.ele-gop{
		display:inline;
		width:100%;
	}
	.form, .product, .ketqua, #ghichu{
		padding: 1%;
		margin-top: 1%;
		border-radius: 10px;
		background: rgba(0,0,0,0.25);
		box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	}

	input[type=checkbox] {
		visibility: hidden;
	}


}
	
	
	

/* *****************
** Dùng cho Mobile *
********************/
@media (max-width: 1000px){
	.form{
		height:20%;
	}
	.gop-contain{
		position:absolute;
		width:98%;
		overflow-y: scroll;
		height:90%;
	}
	body{
		font-size:1em;
		width:98%;
	}
	.pro-ele{
		font-size:1.5em;
		display:block;
	}
	.label{
		width:30%;
		display:inline-block;
		font-size:1.5em;
	}
	.ele-gop{
		display:inline;
		width:100%;
		font-size:1.5em;
	}
	.input{
		width:60%;
		font-size:1.5em;
	}
	#ghichu{
		display:none;
	}
	.contain, .form, .product{
		display:block;
		
	}
	.product{
		height:10%;
		
	}
	.ketqua{
		position:relative;
		width: 98%;
		height:50%;
	}
	#nutin{
		display:none;
	}
	input[type=button] {
		background-color: #4CAF50;
		color: white;
		padding: 0.4em;
		margin: 3px 0;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		font-size:1.5em;
	}
	input[type=button]:hover {
		background-color: #45a049;
	}
	label {
	  width: auto;
	  border-radius: 3px;
	  border: 1px solid #D1D3D4
	}

	/* hide input */
	input.radio:empty {
		display:none;
	}

	/* style label */
	input.radio:empty ~ label {
		position: relative;
		float: left;
		line-height: 1em;
		text-indent: 1em;
		margin-top: 0.1em;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	input.radio:empty ~ label:before {
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		content: '';
		width: 1em;
		background: #D1D3D4;
		border-radius: 3px 0 0 3px;
	}

	
	/* toggle hover */
	input.radio:hover:not(:checked) ~ label:before {
		content:'';
		text-indent: .9em;
		color: #C2C2C2;
	}

	input.radio:hover:not(:checked) ~ label {
		color: #888;
	}

	/* toggle on */
	input.radio:checked ~ label:before {
		content:'';
		text-indent: .9em;
		color: #9CE2AE;
		background-color: #4DCB6D;
	}

	input.radio:checked ~ label {
		color: #f00;
		border: 1px solid #9CE2AE
	}
	
	

	#pbh.input{
		width:50%;
	}
	.chkbh {
		top:0.5em;
		left:0.5em;
		display:inline-block;
		width: 1em;
		height: 0.7em;
		background: #555;
		margin: 0px;
		position: relative;
		border-radius: 9px;
	}
	.chkbh label {
		display: block;
		width: 1em;
		height: 1em;
		border-radius: 50%;

		transition: all .3s ease;
		cursor: pointer;
		position: absolute;
		top: -0.2em;
		left: -0.5em;
		background: #03b8ff;
	}
	.chkbh:before{
		display:block;
		content:' ';
		width:50%;
		background: green;
		padding:0;
	}
	.chkbh:after{
		display:block;
		content:' ';
		width:50%;
		background: red;
		padding:0;
	}
	.chkbh input[type=checkbox]:checked + label {
		left: 0.4em;
	}
#credit{
display:none;
}

}
/* *************
** Dùng cho PC *
****************/
@media (min-width:1001px){
	body{
		font-size:12;
	}
	.label{
		width:30%;
		display:inline-block;
	}
	.input {
		width: 50%;
	}
	.ketqua{
		width:35%;
		height:60%;
	}
	.contain{
		display:inline-block;
		width:45%;
	}
	#ghichu{
		float:right;
		width:60%;
		height:60%;
	}
	.product{
		display:inline-block;
		width:35%;
		float:right;
		height:100%;
	}
	.form{
		width:60%;
		display:inline-block;
		float:left;
		height:100%;
	}
	.head{
		height:20%;
	}
	input[type=text], select {
	  
		padding: 2px 30px;
		margin: 3px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}
	input[type=button] {
		background-color: #4CAF50;
		color: white;
		padding: 3px 5px;
		margin: 3px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
	input[type=button]:hover {
		background-color: #45a049;
	}
	label {
	  width: 75;
	  border-radius: 3px;
	  border: 1px solid #D1D3D4
	}

	/* hide input */
	input.radio:empty {
		display:none;
	}

	/* style label */
	input.radio:empty ~ label {
		position: relative;
		float: left;
		line-height: 2.5em;
		text-indent: 3.25em;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	input.radio:empty ~ label:before {
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		content: '';
		width: 2.5em;
		background: #D1D3D4;
		border-radius: 3px 0 0 3px;
	}

	/* toggle hover */
	input.radio:hover:not(:checked) ~ label:before {
		content:'\2714';
		text-indent: .9em;
		color: #C2C2C2;
	}

	input.radio:hover:not(:checked) ~ label {
		color: #888;
	}

	/* toggle on */
	input.radio:checked ~ label:before {
		content:'\2714';
		text-indent: .9em;
		color: #9CE2AE;
		background-color: #4DCB6D;
	}

	input.radio:checked ~ label {
		color: #f00;
		font-weight: bold;
		border: 2px solid #9CE2AE
	}
	
	
	.chkbh {
		left:10px;
		top:5px;
		display:inline-block;
		width: 20px;
		height: 12px;
		background: #555;
		margin: 0px;
		position: relative;
		border-radius: 5px;
	}
	.chkbh label {
		display: block;
		width: 16px;
		height: 16px;
		border-radius: 50%;

		transition: all .3s ease;
		cursor: pointer;
		position: absolute;
		top: -3px;
		left: -3px;
		background: #03b8ff;
	}
	.chkbh input[type=checkbox]:checked + label {
	left: 5px;
	}
	
	
	
	
}
	
/**************
** Dùng chung *
***************/	
	
	.label{
		display:inline-block;
	}
	body{
		font-family:tahoma;
	}
	#btnPrint, #btnSub{
		display:none;
	}
	
	.pro-ele{
		display:none;
		width:auto;
	}
	.ketqua{
		float:left;
		display:block;
	}

/* *************
** Dùng cho in *
****************/
@media print{
	
	body{
		font-size:13;
	}
	.input{
		font-size:13;
	}
	.title, .title.gop{
		font-style:normal;
		font-size:13;
	}
	#credit{
		display:none;
	}
	#ghichu{
		display:block;
		float:right;
		width:70%;
	}
	.info{
		font-size:8px;
	}
	.ketqua{
		display:block;
		width:25%;
		float:left;
	}
	.gop-contain{
		display:block;
		width:100%;
		overflow-y: auto;
		height:auto;
	}
	#divbh, #divng, #btnPrint, .nhap, #giayto, .product{
		display:none;
	}
	.head{
		height:15%;
	}
	#thongtin{
		display:block;
		font-size:10;
	}
	.ele-gop{
		display:inline;
		width:100%;
		font-size:13;
	}
}
